	  .cell{
		   background-image:url('');
		   background-repeat:no-repeat;
		   width:33px;
		   height:32px;
		  }
	  .black{
		  background-image:url(images/b1.png);
		  }
	  .white{
		  
		  background-image:url(images/w1.png);
		  }
	  .container1{
		  width:504px;
		  height:587px;
		  background-image:url(images/bg41.png);
		  background-repeat:no-repeat;
		  background-position:center;
		  background-color:#ccc;	
		  
		  }
	  .backContainer{
			  width:550px;
			  height:425px;
			  background-color:;
			  padding-left:10px;
			  padding-top:100px;
		  }
	  .container{
		  width:530px;
		  height:270px;
		  overflow:auto;
		  background-color:#FFF; 
		   
	  }
	  .bottomContainer{
		  margin-top:38px;
		  width:500px;
		  height:100px;
		  background-color:#FFF; 
		  padding:0px;
	  }
	  #info{
		  width:450px;
		  height:50px;
		  border:normal;
		  resize:none
	  }
	  .btn1{
		  width:73px;
		  height:65px;
		  border:none;
		  margin-left:0px;
		  background-image:url(images/btn1.png	);
	  }
	  td{
		  font-size:14px;
	  }	
	  .bq{
		  cursor:pointer;
		  height:20px;
		  width:20px;
	  }
	  .bq2{
		  height:70px;
	  }